* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  .title{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #6c59da; 
  }
  
  .menu-container {
    color: #fff;
    background-color: #5995DA;  /* Blue */
    padding: 20px 0;
    display: flex;
    justify-content: center;
  }
  
  .menu {
    border: 1px solid #fff;
    width: 900px;
    display: flex;
    justify-content: space-between;
  }
  .links {
    border: 1px solid #fff;  /* For debugging */
    display: flex;
    justify-content: flex-end;
  }
  .main {
    margin-left: 20px;
  }
  .header-container {
    color: #5995DA;
    background-color: #D6E9FE;
    display: flex;
    justify-content: center;
  }
  
  .header {
    width: 900px;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
.git-link,
.logo,
  .group-link {
    border: 1px solid #5995DA;
  }
  .photo-grid-container {
    display: flex;
    justify-content: center;
  }
  
  .photo-grid {
    overflow: hidden;
    position: relative;
    max-width: 900px;
    display: flex;
    justify-content: center; 
    flex-wrap: wrap;
  }
  
  .photo-grid-item, 
  .photo-grid-item--hidden{ 
    display: none;
  }
  .photo-grid-item img{
    max-width: 900px;
    width: 100%;
    height: auto;
  }
  .photo-grid .photo-grid-item--visible{
    display: block;
  }
  
  .photo-grid .carousel_actions{ 
    display: flex;
    width: 100%;
    justify-content: space-between;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);

  }
  .photo-grid .carousel_actions button{
    border-radius: 50px;
    border: 0;
    font-weight: bold;
    cursor: pointer;
    width: 40px;
    height: 40px;
  }
  .photo-grid .carousel_actions button#prev-button{
    margin-left: 20px;
  }
  .photo-grid .carousel_actions button#next-button{
    margin-right: 20px;
  }
  .footer {
    display: flex;
    justify-content: space-between;
  }
  
  .footer-item {
    border: 1px solid #fff;
    background-color: #D6E9FE;
    height: 200px;
    flex: 1;
  }
.footer-one,
.footer-three {
  background-color: #5995DA;
  flex: initial;
  width: 300px;
}